<body>
	<div class="row well">
		<center><h1>Dashboard</h1></center>
	</div>
	<div class="well">
		<center>
			<h1>Weather</h1>
			<h3>Waterloo: </h3><h3>Temp Goes here</h3> 
		</center>
	</div>
	<div class="well" id="hueController">
				<center>
			<h1 style="font-size: 50px; margin-bottom: 20px;">Hue</h1>
			    </center>
		<div class="row">
			<div class="col-lg-3 col-sm-0">
			</div>
			<div class="col-lg-3 col-sm-6">
				<center><button class="hueButton" value="lamp_on" id="studyMode">Lamp On</button></center>
			</div>
			<div class="col-lg-3 col-sm-6">
				<center><button class="hueButton" value="lamp_off" id="sirenMode">Lamp Off</button></center>
			</div>
			<div class="col-lg-3 col-sm-0">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-0">
			</div>
			<div class="col-lg-3 col-sm-6">
				<center><button class="hueButton" value="ceiling_light_1_on" id="disco">Ceiling Light 1 On</button></center>
			</div>
			<div class="col-lg-3 col-sm-6">
				<center><button class="hueButton" value="ceiling_light_1_off" id="reading">Ceiling Light 1 Off</button></center>
			</div>
			<div class="col-lg-3 col-sm-0">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-0">
			</div>
			<div class="col-lg-3 col-sm-6">
				<center><button class="hueButton" value="ceiling_light_2_on" id="test">Ceiling Light 2 On</button></center>
			</div>
			<div class="col-lg-3 col-sm-6">
				<center><button class="hueButton" value="ceiling_light_2_off" id="hueOff">Ceiling Light 2 Off</button></center>
			</div>
			<div class="col-lg-3 col-sm-0">
			</div>
		</div>
	</div>
	<div class="well" >
		<div class="row">
			<div class="col-lg-6" style="margin-bottom: 50px min-width: 425px; max-width: 425px;">
				<center>
				<div class="remote-control">
					<div class="row" style="margin-top: 5px">
						<div class="col-sm-4">
							<center>
								<h3 style="color:white;">INPUT</h3>
								<button class="remote-round" value="input"><i class="material-icons" style="font-size: 24px">input</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center><h1 class="remote-title">TV</h1></center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color:white;">POWER</h3>
								<button class="remote-round" value="power" style="background: #d32f2f;"><i class="material-icons" style="font-size: 50px">power_settings_new</i></button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 25px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="1">1</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="2">2</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="3">3</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="4">4</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="5">5</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="6">6</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="7">7</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="8">8</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="9">9</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="0">0</button>
							</center>
						</div>
						<div class="col-sm-4">
						</div>
					</div>
					<hr style="width: 90%">
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<h2 style="color:white;">VOL</h2>
								<button class="remote-round" value="volPlus">+</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color: white;">MUTE</h3>
								<button class="remote-square" value="mute"><i class="material-icons" style="font-size: 24px">volume_mute</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
							<h2 style="color:white;">CH</h2>
								<button class="remote-round" value="chPlus">+</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-round" value="volMinus">-</button>
							</center>
						</div>
						<div class="col-sm-4" style="margin-top: -40px">
							<center>
								<h3 style="color: white;">MENU</h3>
								<button class="remote-square" value="menu"><i class="material-icons" style="font-size: 24px">menu</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-round" value="chMinus">-</button>
							</center>
						</div>
					</div>
					<hr style="width: 90%">
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">INFO</h3>
								<button class="remote-round-sm" value="info"><i class="material-icons" style="font-size: 24px">info_outline</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="up" style="margin-top: 50px"><i class="material-icons" style="font-size: 24px">arrow_upward</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">GUIDE</h3>
								<button class="remote-round-sm" value="guide"><i class="material-icons" style="font-size: 24px">apps</i></button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="left"><i class="material-icons" style="font-size: 24px">arrow_back</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="enter" style="font-size: 12px">ENTER</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="right"><i class="material-icons" style="font-size: 24px">arrow_forward</i></button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px; margin-bottom: 25px">
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">RECALL</h3>
								<button class="remote-round-sm" value="recall"><i class="material-icons" style="font-size: 24px">undo</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="down"><i class="material-icons" style="font-size: 24px">arrow_downward</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">EXIT</h3>
								<button class="remote-round-sm" value="exit"><i class="material-icons" style="font-size: 24px">exit_to_app</i></button>
							</center>
						</div>
					</div>
				</div>
				</center>
			</div>
			<div class="col-lg-6" style="margin-bottom: 50px min-width: 425px; max-width: 425px;">
				<center>
				<div class="remote-control">
					<div class="row" style="margin-top: 5px">
						<div class="col-sm-4">
							<center>
								<h3 style="color:white;">KB</h3>
								<button class="remote-round" value="box_keyboard"><i class="material-icons" style="font-size: 24px">keyboard</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center><h1 class="remote-title">BOX</h1></center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color:white;">POWER</h3>
								<button class="remote-round" value="box_power" style="background: #d32f2f;"><i class="material-icons" style="font-size: 50px">power_settings_new</i></button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 25px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_1">1</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_2">2</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_3">3</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_4">4</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_5">5</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_6">6</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_7">7</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_8">8</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_9">9</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_0">0</button>
							</center>
						</div>
						<div class="col-sm-4">
						</div>
					</div>
					<hr style="width: 90%">
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<h2 style="color:white;">VOL</h2>
								<button class="remote-round" value="box_volPlus">+</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color: white;">MUTE</h3>
								<button class="remote-square" value="box_mute"><i class="material-icons" style="font-size: 24px">volume_mute</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
							<h2 style="color:white;">CH</h2>
								<button class="remote-round" value="box_chPlus">+</button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-round" value="box_volMinus">-</button>
							</center>
						</div>
						<div class="col-sm-4" style="margin-top: -40px">
							<center>
								<h3 style="color: white;">MENU</h3>
								<button class="remote-square" value="box_menu"><i class="material-icons" style="font-size: 24px">menu</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-round" value="box_chMinus">-</button>
							</center>
						</div>
					</div>
					<hr style="width: 90%">
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">INFO</h3>
								<button class="remote-round-sm" value="box_info"><i class="material-icons" style="font-size: 24px">info_outline</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_up" style="margin-top: 50px"><i class="material-icons" style="font-size: 24px">arrow_upward</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">GUIDE</h3>
								<button class="remote-round-sm" value="box_guide"><i class="material-icons" style="font-size: 24px">apps</i></button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px;">
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_left"><i class="material-icons" style="font-size: 24px">arrow_back</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_enter" style="font-size: 12px">ENTER</button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_right"><i class="material-icons" style="font-size: 24px">arrow_forward</i></button>
							</center>
						</div>
					</div>
					<div class="row" style="margin-top: 12px; margin-bottom: 25px">
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">BACK</h3>
								<button class="remote-round-sm" value="box_recall"><i class="material-icons" style="font-size: 24px">undo</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<button class="remote-square" value="box_down"><i class="material-icons" style="font-size: 24px">arrow_downward</i></button>
							</center>
						</div>
						<div class="col-sm-4">
							<center>
								<h3 style="color: white">EXIT</h3>
								<button class="remote-round-sm" value="box_exit"><i class="material-icons" style="font-size: 24px">exit_to_app</i></button>
							</center>
						</div>
					</div>
				</div>
				</center>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="row">
			<div class="col-lg-12">
		    	<center>
				<h1>Device Status</h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Name</th>
							<th>IP</th>
							<th>Mac Address</th>
							<th>Connection Type</th>
						</tr>
						<tbody id="deviceStatus">
							<!--Devices on the network will be added here-->
							<% @devices.each do |c|  %>
							    <tr>
							      <td> <%= c.name %></td>
							      <td> <%= c.ip_address %></td>
							      <td> <%= c.mac_address %></td>
							      <td> <%= c.connection.name %></td>
							    </tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</body>
		

<!--Calendar Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Schedule</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=erictweeds%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FToronto" style="border-width:0;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!--Connected Devices Modal-->
<div id="moreDevices" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Schedule</h4>
      </div>
      <div class="modal-body">
      	<center>
			<h1>Connected Devices</h1>
			<p>List of devices currently connected to my router</p>
			<div class="table-responsive">
				<table class="table table-striped">
					<tr><th>Name</th><th>IP</th><th>Mac Address</th><th>Type</th></tr>
					<tbody id="connectedDevices">
						<!--Devices on the network will be added here-->
					</tbody>
				</table>
			</div>
			<button id="deviceList" class="refreshBtn" align="right">Refresh</button>
		</center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>