<!DOCTYPE html>
<html lang="en">
<head>
  <title>350 Lester</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Put Shit Here</a></li>
        <li><a href="#">Put Shit Here</a></li>
        <li><a href="#">Put Shit Here</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Dashboard</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Age</a></li>
        <li><a href="#section3">Gender</a></li>
        <li><a href="#section3">Geo</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4>Connected Devices:</h4>
		    <table class='table'>
			  <tr>
			    <th>Name</th>
			    <th>IP Address</th>
			    <th>Mac Address</th>
			    <th>Connection Type</th>
			  </tr>

			   <% @devices.each do |c|  %>
			    <tr>
			      <td> <%= c.name %></td>
			      <td> <%= c.ip_address %></td>
			      <td> <%= c.mac_address %></td>
			      <td> <%= c.connection.name %></td>
			    </tr>
			  <% end %>
			</table>
        </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h4>Who's Home?</h4>
            <ul class="list-group">
            	<%if @devices.where("mac_address = '00:56:CD:06:83:09'").present? %>
				<li class="list-group-item">Nick</li>
				<% end %>
				<%if @devices.where("mac_address = '8C:F5:A3:16:90:26'").present? %>
				<li class="list-group-item">Colton</li>
				<% end %>
				<%if @devices.where("mac_address = 'A0:D7:95:34:B8:76'").present? %>
				<li class="list-group-item">Cameron</li>
				<% end %>
				<%if @devices.where("mac_address = 'I NEED JAKES MAC'").present? %>
				<li class="list-group-item">Jake</li>
				<% end %>
				<%if @devices.where("mac_address = '48:59:29:F8:A3:C4'").present? %>
				<li class="list-group-item">Eric</li>
				<% end %>
            </ul>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="well">
            <h4 class="text-center">Phillips Hue</h4>
    		<div class="btn-group btn-group-justified">
			  <a href="#" class="btn btn-primary">Ceiling Light 1</a>
			  <a href="#" class="btn btn-primary">Ceiling Light 2</a>
			  <a href="#" class="btn btn-primary">Lamp Light 1</a>
			</div>


			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>