<h1>TV Controls </h1>
<button id="power" type="button" class="btn btn-info">Power</button>
<button id="input" type="button" class="btn btn-info">Input</button>
<button id="one" type="button" class="btn btn-info">1</button>
<button id="two" type="button" class="btn btn-info">2</button>
<button id="three" type="button" class="btn btn-info">3</button>
<button id="four" type="button" class="btn btn-info">4</button>
<button id="five" type="button" class="btn btn-info">5</button>
<button id="six" type="button" class="btn btn-info">6</button>
<button id="seven" type="button" class="btn btn-info">7</button>
<button id="eight" type="button" class="btn btn-info">8</button>
<button id="nine" type="button" class="btn btn-info">9</button>
<button id="zero" type="button" class="btn btn-info">0</button>
<button id="dot" type="button" class="btn btn-info">.</button>
<button id="recall" type="button" class="btn btn-info">Recall</button>
<button id="volume_up" type="button" class="btn btn-info">Volume Up</button>
<button id="volume_down" type="button" class="btn btn-info">Volume Down</button>
<button id="mute" type="button" class="btn btn-info">Mute</button>

<br>

<button id="power_mag" type="button" class="btn btn-info">Power</button>
<button id="keyboard" type="button" class="btn btn-info">Keyboard</button>
<button id="up" type="button" class="btn btn-info">Up</button>
<button id="down" type="button" class="btn btn-info">Down</button>
<button id="left" type="button" class="btn btn-info">Left</button>
<button id="right" type="button" class="btn btn-info">Right</button>
<button id="ok" type="button" class="btn btn-info">OK</button>
<button id="home" type="button" class="btn btn-info">Home</button>
<button id="back" type="button" class="btn btn-info">Back</button>
<button id="list" type="button" class="btn btn-info">List</button>
<button id="vol_up" type="button" class="btn btn-info">Volume Up</button>
<button id="vol_down" type="button" class="btn btn-info">Volume Down</button>


<script>
$("#power_mag").click(function(){
    $.post("power_mag", function(data, status){
    });
});
$("#keyboard").click(function(){
    $.post("keyboard", function(data, status){
    });
});
$("#up").click(function(){
    $.post("up", function(data, status){
    });
});
$("#down").click(function(){
    $.post("down", function(data, status){
    });
});
$("#left").click(function(){
    $.post("left", function(data, status){
    });
});
$("#right").click(function(){
    $.post("right", function(data, status){
    });
});
$("#ok").click(function(){
    $.post("ok", function(data, status){
    });
});
$("#home").click(function(){
    $.post("home", function(data, status){
    });
});
$("#back").click(function(){
    $.post("back", function(data, status){
    });
});
$("#list").click(function(){
    $.post("list", function(data, status){
    });
});
$("#vol_up").click(function(){
    $.post("vol_up", function(data, status){
    });
});
$("#vol_down").click(function(){
    $.post("vol_down", function(data, status){
    });
});

$("#power").click(function(){
    $.post("power", function(data, status){
    });
});

$("#volume_up").click(function(){
    $.post("volume_up", function(data, status){
    });
});

$("#volume_down").click(function(){
    $.post("volume_down", function(data, status){
    });
});

$("#input").click(function(){
    $.post("input", function(data, status){
    });
});

$("#one").click(function(){
    $.post("one", function(data, status){
    });
});

$("#two").click(function(){
    $.post("two", function(data, status){
    });
});

$("#three").click(function(){
    $.post("three", function(data, status){
    });
});

$("#four").click(function(){
    $.post("four", function(data, status){
    });
});

$("#five").click(function(){
    $.post("five", function(data, status){
    });
});

$("#six").click(function(){
    $.post("six", function(data, status){
    });
});

$("#seven").click(function(){
    $.post("seven", function(data, status){
    });
});

$("#eight").click(function(){
    $.post("eight", function(data, status){
    });
});

$("#nine").click(function(){
    $.post("nine", function(data, status){
    });
});

$("#zero").click(function(){
    $.post("zero", function(data, status){
    });
});

$("#dot").click(function(){
    $.post("dot", function(data, status){
    });
});

$("#mute").click(function(){
    $.post("mute", function(data, status){
    });
});

$("#recall").click(function(){
    $.post("recall", function(data, status){
    });
});


 </script>
